* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100vh;
}
body {
  font-family: roboto;
  font-weight: 300;
  color: #141112;
  background-color: #e3dac6;
}

/* Contenedor general  */

.contenedor-general {
}

/* Header*/
.navbar-logo {
  width: 100px;
  height: 100px;
}

/*Me vi obligada a usar un !important, ya que si no, no me lo tomaba (ni con un id) */
.contenedor-general header .navbar-color {
  background-color: #141112 !important;
}

.contenedor-general
  header
  .container-fluid
  .collapse
  .navbar-nav
  .nav-item
  .nav-link-color {
  color: #e3dac6;
}

.contenedor-general header .container-fluid .navbar-toggler {
  background-color: #e3dac6;
}

/* header nav {
  background-color: #141112;
  height: 120px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.navbar-logo {
  width: 110px;
  height: 110px;
}

header nav ol {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 0;
}

header nav ol li a {
  color: #d7d3c5;
  font-size: 22px;
  text-decoration: none;
  font-weight: 100;
  padding-bottom: 0;
  transition: all 0.3s ease;
}

header nav ol li a:hover {
  padding-bottom: 2px;
  border-bottom: solid 2px #d7d3c5;
} */

/*Carrousel - modificaciones con css*/

.carousel-item img {
  height: 650px;
  object-fit: cover;
}

.carousel-container-inner-h1 {
  position: relative;
}

.carousel .carousel-title {
  color: #d7d3c5;
  text-shadow: 2px 2px 13px rgba(0, 0, 0, 1);
  position: absolute;
  top: 300px;
}
