* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100vh;
}
body {
  font-family: roboto;
  font-weight: 300;
  color: #141112;
  background-color: #e3dac6;
}

/* Header */
.navbar-logo {
  width: 100px;
  height: 100px;
}

/* Nav - Boostrap
Las modificaciones que pude hacer con Boostrap para adaptalo al diseño las hice en el HTML, las demas están a continuación: 

En este caso me vi obligada a usar un !important, ya que si no, no me lo tomaba (ni con un id) */
.contenedor-general header .navbar-color {
  background-color: #141112 !important;
}

.contenedor-general
  header
  .container-fluid
  .collapse
  .navbar-nav
  .nav-item
  .nav-link-color {
  color: #e3dac6;
}

.contenedor-general header .container-fluid .navbar-toggler {
  background-color: #e3dac6;
}

/* Carrousel - Boostrap */

.carousel-item img {
  height: 650px;
}

.carousel .carousel-title {
  color: #d7d3c5;
  text-shadow: 2px 2px 13px rgba(0, 0, 0, 1);
  top: 300px;
}

/* Estilos sin Boostrap */

.slogan {
  text-align: center;
  font-size: 26px;
  margin: 130px 0 70px 0;
  font-style: italic;
  font-weight: 100;
}

h2 {
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
}

.article-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

.article-title span {
  width: 100%;
  height: 1px;
  background-color: #939393;
}

.article__container-info {
  margin: 30px 30px 80px 30px;
  display: flex;
  gap: 30px;
}

.article__container-info img {
  object-fit: cover;
  height: 500px;
  border-radius: 4px;
}

.article__container-info--iframe iframe {
  width: 50vw;
  height: 50vh;
  border-radius: 4px;
}

.article__container-info--iframe div {
  width: 50%;
}

/*Articulo de la huerta*/

.article-huerta__container-images {
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.article-huerta img {
  border-radius: 6px;
  width: 200px;
}

/* Mapa */

.article-map {
  margin: 120px 40px;
  display: flex;
  gap: 30px;
}

.article-map iframe {
  border-radius: 3px;
  width: 50%;
}

.article-map__info {
  width: 45%;
}

.article-map__info ul {
  list-style: none;
  padding: 0;
}

.article-map__info ul li {
  margin-bottom: 20px;
}

.article-map--info-bold {
  font-weight: bold;
}

/* Footer */

footer {
  background-color: #141112;
  color: #d7d3c5;
  padding: 30px;
}

.footer-content {
  margin-bottom: 60px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-content div {
  flex: 1;
  min-width: 200px;
}

.footer-content div:first-child {
  flex: 2;
}

.footer-content div span {
  font-weight: bold;
}

/* HTML - Menú */

.container-menu {
  margin: 60px 40px;
}

.menu-h2 {
  text-align: center;
  font-size: 34px;
}

.food {
  margin: 70px 0;
  border-bottom: solid 1px grey;
}

.food p {
  font-size: 20px;
  margin-bottom: 10px;
}

.food__top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.food__top p {
  font-size: 24px;
}

.menu-bambini {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}

.menu-bambini p {
  margin: 16px 0;
}

/* HTML - FAQ - Preguntas frecuentes*/

.faq {
  margin: 60px 40px;
  position: relative;
}

.faq__left {
  width: 45%;
}

.faq__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
}

.faq__container {
  margin-bottom: 60px;
}

.faq-line {
  display: inline-block;
  height: 100%;
  width: 1px;
  background-color: #939393;
  position: absolute;
  top: 0;
  right: 50%;
}

.faq__question {
  font-size: 20px;
  margin-bottom: 15px;
}

/* HTML - Galería*/

.container-galeria {
  margin: 100px 40px;
}

.galeria {
  margin-top: 30px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr); /* Tres columnas iguales */
  grid-auto-rows: 200px; /* Altura de 200px para cada fila */
}

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.galeria .item-featured {
  grid-column: span 2;
  grid-row: span 2;
}

/* HTML - Contacto*/

.container-contacto {
  margin: 120px 40px;
}

.contacto__info {
  text-align: center;
  width: 100%;
  margin: 60px 0;
}

.contacto__info img {
  width: 20px;
  height: 20px;
  text-align: center;
}

.contacto__info span {
  display: block;
  margin: 10px 0;
}

.contacto__redes-sociales {
  text-align: center;
  margin: 60px 0;
}

.contacto__redes-sociales a img {
  width: 60px;
  height: 60px;
  margin: 0 60px;
}

/* Form de contacto*/
.container-form {
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 500px;
}

.contact-form div {
  padding-top: 24px;
  margin: 30px 0;
  position: relative;
}

.wrap-label-input label,
.wrap-label-textarea label {
  position: absolute;
  top: 0;
}

.wrap-label-input input {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 2px;
}

.wrap-label-textarea textarea {
  width: 100%;
  height: 130px;
  border: none;
  border-radius: 2px;
}

.contact-form .wrap-checkbox {
  border: solid 1px grey;
  border-radius: 2px;
  width: 190px;
  padding: 30px 25px;
}

.button-submit {
  padding: 15px 28px;
  background-color: inherit;
  font-family: inherit;
  border: solid 1px grey;
  border-radius: 2px;
  cursor: pointer;
}

/* Media Query */

@media screen and (max-width: 640px) {
  /* Index */

  .slogan {
    font-size: 20px;
    margin: 30px 10px;
  }

  .article-title {
    justify-content: center;
  }

  .article-title span {
    display: none;
  }

  .article__container-info,
  .article-map {
    flex-direction: column;
    align-items: center;
    margin: 25px 20px 30px 20px;
  }

  .article__container-info img {
    height: 400px;
    width: 300px;
  }

  .article__container-info--iframe iframe {
    width: 90%;
    height: 200px;
  }

  .article__container-info--iframe div {
    width: 100%;
  }

  .article-huerta__container-images {
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
  }
  .article-map iframe {
    width: 90%;
    height: 400px;
  }
  .article-map__info {
    width: 100%;
  }

  /* Galeria */

  .galeria {
    grid-template-columns: auto;
  }

  .galeria .item-featured {
    grid-column: unset;
    grid-row: unset;
  }

  /* Faq - Preguntas Frecuentes*/

  .faq {
    position: unset;
    margin: 50px 20px;
  }

  .faq .faq-line {
    display: none;
  }

  .faq .faq__left,
  .faq .faq__right {
    width: 100%;
    position: unset;
  }

  /* Menu */

  .container-menu {
    margin: 50px 20px;
  }

  .food__top {
    flex-direction: column;
  }

  .menu-bambini {
    font-size: 20px;
  }

  /* Contacto */

  .contacto__redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
  }
}
