/* Media Query */

@media screen and (max-width: 640px) {
  .contacto__redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
  }
}
