//fondo, textos nav, textos footer
$color-principal: rgb(227, 218, 198);

//bg nav y textos
$color-secundario: rgb(20, 17, 18);

//faq-line y lines
$color-lines: rgb(147, 147, 147);

$color-title-carousel: rgb(215, 211, 197);

$box-shadow-principal: 0 4px 8px rgba(0, 0, 0, 0.4),
  0 2px 4px rgba(0, 0, 0, 0.2);

$box-shadow-secundario: 0 2px 4px rgba(0, 0, 0, 0.2),
  0 1px 2px rgba(0, 0, 0, 0.1);

$border-radius-principal: 4px;
$border-radius-secundario: 4px;
